@charset "UTF-8";
@import '../css/datepicker.css';
.standForm {
  width: 320px;
  min-height: 67px;
}
.standForm__heading {
  width: inherit;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1F2041;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
.standForm__heading span:last-child {
  color: rgba(31, 32, 65, 0.5);
  font-weight: normal;
}
.standForm__Form input, .standForm__Form div {
  background: #FFFFFF;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
  width: 320px;
  height: 44px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.25);
  padding: 13px 15px;
}
.standForm__Form input::-webkit-input-placeholder, .standForm__Form div::-webkit-input-placeholder {
  color: rgba(31, 32, 65, 0.25);
}
.standForm__Form input:-moz-placeholder, .standForm__Form div:-moz-placeholder {
  color: rgba(31, 32, 65, 0.25);
}
.standForm__Form input::-moz-placeholder, .standForm__Form div::-moz-placeholder {
  color: rgba(31, 32, 65, 0.25);
}
.standForm__Form input:-ms-input-placeholder, .standForm__Form div:-ms-input-placeholder {
  color: rgba(31, 32, 65, 0.25);
}
.standForm__Form input:focus, .standForm__Form input:hover, .standForm__Form div:focus, .standForm__Form div:hover {
  border: 1px solid rgba(31, 32, 65, 0.5);
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
}
.standForm__Form input:focus::-webkit-input-placeholder, .standForm__Form input:hover::-webkit-input-placeholder, .standForm__Form div:focus::-webkit-input-placeholder, .standForm__Form div:hover::-webkit-input-placeholder {
  color: rgba(31, 32, 65, 0.75);
}
.standForm__Form input:focus:-moz-placeholder, .standForm__Form input:hover:-moz-placeholder, .standForm__Form div:focus:-moz-placeholder, .standForm__Form div:hover:-moz-placeholder {
  color: rgba(31, 32, 65, 0.75);
}
.standForm__Form input:focus::-moz-placeholder, .standForm__Form input:hover::-moz-placeholder, .standForm__Form div:focus::-moz-placeholder, .standForm__Form div:hover::-moz-placeholder {
  color: rgba(31, 32, 65, 0.75);
}
.standForm__Form input:focus:-ms-input-placeholder, .standForm__Form input:hover:-ms-input-placeholder, .standForm__Form div:focus:-ms-input-placeholder, .standForm__Form div:hover:-ms-input-placeholder {
  color: rgba(31, 32, 65, 0.75);
}

.FormNumberGuest {
  width: 100px;
  height: 100px;
}

.popap_list {
  display: none;
}

.standForm__Popap {
  position: relative;
}
.standForm__Popap i {
  position: absolute;
  top: 15px;
  left: 290px;
  color: rgba(31, 32, 65, 0.25);
}
.standForm__Popap_min {
  position: relative;
}
.standForm__Popap_min i {
  position: absolute;
  background: #ffffff;
  padding: 10px;
  top: 5px;
  left: 231px;
  color: rgba(31, 32, 65, 0.25);
}
.standForm__Form {
  position: relative;
}
.standForm__Form i {
  position: absolute;
  z-index: 10;
  top: 15px;
  left: 290px;
  color: rgba(31, 32, 65, 0.25);
}

.PopapForm_mathSign {
  width: 30px;
  height: 30px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 22px;
  background-color: #ffff;
}
.PopapForm_quantity {
  margin: 16px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #1F2041;
  position: absolute;
  top: -9px;
  left: 30px;
}
.PopapForm__inputForm {
  background: #FFFFFF;
  border: 1px solid rgba(31, 32, 65, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  width: inherit;
  height: 44px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.75);
  padding: 13px 15px;
  white-space: nowrap;
  overflow: hidden;
}
.PopapForm__inputForm i {
  position: relative;
  z-index: 3;
  padding: 5px;
}
.PopapForm__popapGuest {
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 7px;
  position: relative;
}
.PopapForm__popapGuest div {
  position: relative;
}
.PopapForm__popapGuest button:last-child {
  margin-left: 32px;
}
.PopapForm__name {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  color: #1F2041;
  width: 133px;
  word-spacing: nowrap;
}
.PopapForm__popapBox {
  position: absolute;
  top: 42px;
  left: 0;
  background-color: white;
  width: 320px;
  height: 159px;
  background: #FFFFFF;
  border: 1px solid rgba(31, 32, 65, 0.5);
  box-sizing: border-box;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  border-radius: 0px 0px 4px 4px;
  padding: 7px 7px 7px 14px;
  display: none;
  z-index: 1000;
}
.PopapForm__popapBox_min {
  position: absolute;
  top: 42px;
  left: 0;
  background-color: white;
  width: 266px;
  height: 159px;
  background: #FFFFFF;
  border: 1px solid rgba(31, 32, 65, 0.5);
  box-sizing: border-box;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  border-radius: 0px 0px 4px 4px;
  padding: 7px 7px 7px 14px;
  display: none;
  z-index: 1000;
}
.PopapForm__footer {
  display: flex;
  justify-content: space-between;
}
.PopapForm__batton {
  display: inline-block;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #BC9CFF;
  background-color: rgba(0, 0, 0, 0);
  margin-top: 10px;
}
.PopapForm__batton:hover {
  text-shadow: 0px 4px 7px rgba(0, 0, 0, 0.5);
}
.PopapForm__batton_clear {
  visibility: hidden;
}

.standForm_min {
  width: 266px;
  height: 67px;
}
.standForm_min__Popap {
  position: relative;
}
.standForm_min__Popap i {
  position: absolute;
  top: 15px;
  left: 290px;
  color: rgba(31, 32, 65, 0.25);
}
.standForm_min__heading {
  width: inherit;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1F2041;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
.standForm_min__heading span:last-child {
  color: rgba(31, 32, 65, 0.5);
  font-weight: normal;
}
.standForm_min__Form {
  position: relative;
}
.standForm_min__Form i {
  position: absolute;
  top: 15px;
  left: 234px;
  color: rgba(31, 32, 65, 0.25);
}
.standForm_min__Form a {
  position: absolute;
  top: 6px;
  left: 230px;
  font-size: 24px;
  font-family: Font Awesome 5 Brands;
}
.standForm_min__Form a span {
  color: #af8aff;
}
.standForm_min__Form input, .standForm_min__Form div {
  background: #FFFFFF;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
  width: 266px;
  height: 44px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.25);
  padding: 13px 15px;
}
.standForm_min__Form input::-webkit-input-placeholder, .standForm_min__Form div::-webkit-input-placeholder {
  color: rgba(31, 32, 65, 0.25);
}
.standForm_min__Form input:-moz-placeholder, .standForm_min__Form div:-moz-placeholder {
  color: rgba(31, 32, 65, 0.25);
}
.standForm_min__Form input::-moz-placeholder, .standForm_min__Form div::-moz-placeholder {
  color: rgba(31, 32, 65, 0.25);
}
.standForm_min__Form input:-ms-input-placeholder, .standForm_min__Form div:-ms-input-placeholder {
  color: rgba(31, 32, 65, 0.25);
}
.standForm_min__Form input:focus, .standForm_min__Form input:hover, .standForm_min__Form div:focus, .standForm_min__Form div:hover {
  border: 1px solid rgba(31, 32, 65, 0.5);
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
}
.standForm_min__Form input:focus::-webkit-input-placeholder, .standForm_min__Form input:hover::-webkit-input-placeholder, .standForm_min__Form div:focus::-webkit-input-placeholder, .standForm_min__Form div:hover::-webkit-input-placeholder {
  color: rgba(31, 32, 65, 0.75);
}
.standForm_min__Form input:focus:-moz-placeholder, .standForm_min__Form input:hover:-moz-placeholder, .standForm_min__Form div:focus:-moz-placeholder, .standForm_min__Form div:hover:-moz-placeholder {
  color: rgba(31, 32, 65, 0.75);
}
.standForm_min__Form input:focus::-moz-placeholder, .standForm_min__Form input:hover::-moz-placeholder, .standForm_min__Form div:focus::-moz-placeholder, .standForm_min__Form div:hover::-moz-placeholder {
  color: rgba(31, 32, 65, 0.75);
}
.standForm_min__Form input:focus:-ms-input-placeholder, .standForm_min__Form input:hover:-ms-input-placeholder, .standForm_min__Form div:focus:-ms-input-placeholder, .standForm_min__Form div:hover:-ms-input-placeholder {
  color: rgba(31, 32, 65, 0.75);
}

.manyRooms__fullvar {
  display: none;
}

.manyRooms__fullvar1,
.manyRooms__fullvar2,
.manyRooms__fullvar3 {
  margin-right: 5px;
}

.CheckBoxform {
  margin-top: 20px;
}
.CheckBoxform__Name {
  position: relative;
  z-index: 5;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1F2041;
  width: 266px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.CheckBoxform__Name span {
  margin-right: 15px;
}
.CheckBoxform__ChekList {
  z-index: 1;
  transform: translateY(-20%);
  opacity: 0;
  transform-origin: top;
  transition: 0.5s;
  position: absolute;
}
.CheckBoxform__ChekItem {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.5);
  margin-bottom: 8px;
}

input[type=checkbox] {
  display: none;
}

input[type=radio] {
  display: none;
}

label {
  padding-left: 20px;
  display: flex;
}

.CheckBoxform__ChekItem label:before {
  content: "";
  display: inline-block;
  background: #FFFFFF;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
  width: 20px;
  height: 20px;
  vertical-align: center;
  margin-left: -20px;
  margin-right: 10px;
}

.radio:before {
  content: "";
  display: inline-block;
  background: #FFFFFF;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 10px;
  width: 20px;
  height: 20px;
  vertical-align: center;
  margin-left: -20px;
  margin-right: 10px;
}

.checkboxSwitch_label:before {
  content: "";
  position: absolute;
  z-index: 1;
  transition: all 0.4s ease;
  top: 4px;
  left: 24px;
  display: inline-block;
  width: 12px;
  height: 12px;
  background: rgba(31, 32, 65, 0.25);
  border: none;
  border-radius: 10px;
  vertical-align: center;
  margin-left: -20px;
  margin-right: 10px;
}

.checkboxSwitch_label:after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 40px;
  height: 20px;
  background: #FFFFFF;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 10px;
}

.checkboxSwitch {
  margin-top: 16px;
}

.checkboxSwitch_label {
  position: relative;
  width: 260px;
  transition: all 0.4s ease;
}
.checkboxSwitch_label span {
  padding-left: 30px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: rgba(31, 32, 65, 0.75);
}

.radio {
  display: flex;
  align-items: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: rgba(31, 32, 65, 0.5);
}

input[type=checkbox]:checked + label:before {
  content: "";
  background-image: url(../img/vector.svg);
  background-repeat: no-repeat;
  background-position: 0px 1.5px;
  border: 1px solid #BC9CFF;
  background-size: 20px 12px;
}

input[name=sex]:checked + label:before {
  content: "";
  background-image: url(../img/Rectangle.svg);
  background-repeat: no-repeat;
  background-position: -0.9px 3px;
  border: 1px solid #BC9CFF;
  background-size: 20px 12px;
}

input[name=sex]:checked + label {
  color: rgba(31, 32, 65, 0.75);
}

input[class=switch]:checked + label:before {
  left: 42px;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  background-repeat: repeat;
  background-position: center;
  border: none;
  background-size: 100%;
}

input[class=switch]:checked + .checkboxSwitch_label:after {
  border: 1px solid #BC9CFF;
}

.CheckBoxform__Name span {
  transition: 1s;
}

.CheckBoxform__Name_active span {
  transform: rotate(180deg);
}

.CheckBoxform__ChekList_active {
  transform: translateY(0%);
  opacity: 1;
  position: relative;
}

.IntelligenceForm {
  width: 280px;
  height: 88px;
  display: flex;
  align-items: center;
  padding: 20px 0px;
  border-bottom: 1px solid rgba(31, 32, 65, 0.1);
}
.IntelligenceForm__img {
  margin-right: 10px;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}
.IntelligenceForm__img span {
  font-size: 48px;
  width: 48px;
  height: 51px;
  mix-blend-mode: screen;
  background: white;
}
.IntelligenceForm__text {
  font-family: Montserrat;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
}
.IntelligenceForm__name {
  font-weight: bold;
}
.CheckBoxform__ChekList_open {
  transform: translateY(0%);
  opacity: 1;
  position: relative;
  width: 222px;
}

.CheckBoxform__title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1F2041;
  margin-bottom: 16.5px;
}

.RadioBatt {
  display: flex;
  justify-content: space-between;
  width: 220.74px;
}

.likeForm {
  margin-top: 16px;
}

.likeButton {
  width: 40px;
  height: 20px;
  background: #FFFFFF;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 10px;
  position: relative;
}
.likeButton span:first-child {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  font-family: Material Icons;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  color: rgba(31, 32, 65, 0.25);
}
.likeButton span:last-child {
  content: "";
  position: absolute;
  top: 4px;
  left: 20px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  color: rgba(31, 32, 65, 0.25);
}

.likeButton__active {
  width: 40px;
  height: 20px;
  background: #FFFFFF;
  border: 1px solid #B29DFD;
  border-radius: 10px;
  box-sizing: border-box;
  color: #BC9CFF;
  position: relative;
}
.likeButton__active span:first-child {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  font-family: Material Icons;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  color: #BC9CFF;
}
.likeButton__active span:last-child {
  content: "";
  position: absolute;
  top: 4px;
  left: 20px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  color: #BC9CFF;
}

.reitForm {
  margin-top: 16px;
}

.star-rating {
  display: flex;
  flex-direction: row-reverse;
  font-size: 1.5em;
  justify-content: space-around;
  padding: 0 0.2em;
  text-align: center;
  width: 5em;
}

.star-rating input {
  display: none;
}

.star-rating label {
  padding-left: 0px;
}

.star-rating label:before {
  content: "☆";
  color: #BC9CFF;
  cursor: pointer;
}

.star-rating :checked ~ label:before {
  content: "★";
  color: #BC9CFF;
}

.star-rating label:hover,
.star-rating label:hover ~ label {
  color: #BC9CFF;
}

.noUi-target,
.noUi-target * {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  touch-action: none;
  user-select: none;
  box-sizing: border-box;
}

.noUi-target {
  position: relative;
}

.noUi-base,
.noUi-connects {
  width: 100%;
  height: 115%;
  position: relative;
  z-index: 1;
}

/* Wrapper for all connect elements.
 */
.noUi-connects {
  /*overflow: hidden;*/
  z-index: 0;
}

.noUi-connect,
.noUi-origin {
  will-change: transform;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  -ms-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  -webkit-transform-style: preserve-3d;
  transform-origin: 0 0;
  transform-style: flat;
}

.noUi-connect {
  height: 110%;
  width: 100%;
  top: -1px;
}

.noUi-origin {
  height: 10%;
  width: 10%;
}

/* Offset direction
 */
.noUi-txt-dir-rtl.noUi-horizontal .noUi-origin {
  left: 0;
  right: auto;
}

/* Give origins 0 height/width so they don't interfere with clicking the
 * connect elements.
 */
.noUi-vertical .noUi-origin {
  width: 0;
}

.noUi-horizontal .noUi-origin {
  height: 0;
}

.noUi-handle {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
}

.noUi-touch-area {
  height: 100%;
  width: 100%;
}

.noUi-state-tap .noUi-connect,
.noUi-state-tap .noUi-origin {
  transition: transform 0.3s;
}

.noUi-state-drag * {
  cursor: inherit !important;
}

/* Slider size and handle placement;
 */
.noUi-horizontal {
  height: 6px;
}

.noUi-horizontal .noUi-handle {
  width: 12px;
  height: 12px;
  right: -12px;
  top: -4px;
}

.noUi-vertical {
  width: 18px;
}

.noUi-vertical .noUi-handle {
  width: 12px;
  height: 12px;
  right: -6px;
  top: -17px;
}

.noUi-txt-dir-rtl.noUi-horizontal .noUi-handle {
  left: -17px;
  right: auto;
}

/* Styling;
 * Giving the connect element a border radius causes issues with using transform: scale
 */
.noUi-target {
  background: #FAFAFA;
  border-radius: 4px;
  border: 1px solid #D3D3D3;
  box-shadow: inset 0 1px 1px #F0F0F0, 0 3px 6px -5px #BBB;
}

.noUi-connects {
  border-radius: 3px;
}

.noUi-connect {
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  z-index: 200;
}

/* Handles and cursors;
 */
.noUi-draggable {
  cursor: ew-resize;
}

.noUi-vertical .noUi-draggable {
  cursor: ns-resize;
}

.noUi-handle {
  /* border: 1px solid #D9D9D9;*/
  border-radius: 100%;
  box-shadow: 0 0 0 2px #fff;
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  cursor: default;
  box-shadow: 0 0 0 2px #fff;
}

.noUi-active {
  /*box-shadow: inset 0 0 1px #FFF, inset 0 1px 7px #DDD, 0 3px 6px -3px #BBB;*/
}

.min-value,
.max-value {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  text-transform: uppercase;
  color: rgba(31, 32, 65, 0.5);
  width: 45px;
}

.rangeSliderForm {
  margin-top: 23px;
}

.ButtinForm__button {
  margin-top: 16px;
}

.ClickMeFon {
  width: 99px;
  height: 44px;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border-radius: 22px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  color: #FFFFFF;
  transition: 0.5s;
}

.ClickMeFon:hover {
  box-shadow: 0 4px 10px 1px #5F5F5F;
}

.ClickMeFon:active {
  opacity: 0.5;
}

.ClickMe {
  width: 99px;
  height: 44px;
  background: #FFFFFF;
  border-radius: 22px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  color: #BC9CFF;
  border: 2px solid #BC9CFF;
  transition: 0.5s;
}

.ClickMe:hover {
  box-shadow: 0 4px 10px 1px #5F5F5F;
}

.ClickMe:active {
  opacity: 0.5;
}

.ClickMeNon {
  width: 61px;
  height: 15px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  color: #BC9CFF;
  background: #FFFFFf;
  transition: 0.5s;
}

.ClickMeNon:hover {
  text-shadow: 0 3px 5px #5F5F5F;
}

.ClickMeNon:active {
  color: rgba(31, 32, 65, 0.5);
}

.Checkout {
  width: 320px;
  height: 44px;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border-radius: 22px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  color: #FFFFFF;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.Checkout span {
  margin-top: 0;
  position: absolute;
  top: 10px;
  right: 5px;
}

.Checkout:hover {
  box-shadow: 0 4px 10px 1px #5F5F5F;
}

.Checkout:active {
  opacity: 0.5;
}

.Features {
  font-weight: bold;
  color: rgba(31, 32, 65, 0.75);
}

.CheckBoxform__addition {
  padding-left: 29.5px;
  font-size: 12px;
  line-height: 14px;
  margin-top: 5px;
}

.CheckBoxform__ChekList_rich {
  width: 266px;
}

.bulletList {
  width: 292px;
  margin-top: 16px;
}

.bulletItem {
  position: relative;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
  padding-left: 21px;
  margin-top: 10px;
}
.bulletItem:before {
  position: absolute;
  top: 6px;
  left: 0px;
  content: "";
  width: 10.43px;
  height: 10px;
  background: rgba(31, 32, 65, 0.25);
  border-radius: 100%;
}

.pagination {
  width: 241px;
  margin-top: 16.44px;
}
.pagination__item {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(31, 32, 65, 0.5);
  width: 40px;
  height: 40px;
  background: #FFFFFF;
}
.pagination__item:hover {
  opacity: 0.5;
}
.pagination__flexBox {
  display: flex;
  justify-content: space-between;
}
.pagination__flexBox .pagination__item:first-child {
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border-radius: 22px;
  color: #FFFFFF;
  font-weight: bold;
}
.pagination__flexBox .pagination__item:first-child:hover {
  opacity: 0.5;
}
.pagination__flexBox .pagination__item:last-child {
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  border-radius: 22px;
  color: #FFFFFF;
}
.pagination__flexBox .pagination__item:last-child:hover {
  opacity: 0.5;
}
.pagination__comment {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
  margin-top: 10px;
}

.CommentForm {
  max-width: 711px;
}
.CommentForm__title {
  display: flex;
  width: 278px;
  height: 51px;
  margin-bottom: 10px;
}
.CommentForm__photo {
  width: 47.67px;
  height: 48px;
  position: relative;
  margin-right: 10px;
}
.CommentForm__photo img {
  position: absolute;
  top: -10px;
  left: -20px;
}
.CommentForm__nameinfo {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
}
.CommentForm__ago {
  font-weight: normal;
}
.CommentForm__bottom {
  display: flex;
}
.CommentForm__like {
  width: 40px;
  height: 20px;
  margin-left: 3px;
  margin-right: 13px;
  margin-top: 2px;
}
.CommentForm__text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
}

.SearchNimberBlock {
  max-width: 380px;
  height: 374px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px 30px 30px 30px;
}
.SearchNimberBlock__title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #1F2041;
}
.SearchNimberBlock__date {
  margin-top: 20px;
}
.SearchNimberBlock__guests {
  margin-top: 20px;
}
.SearchNimberBlock__buttonSearch {
  margin-top: 31px;
}

@media (max-width: 767px) {
  .SearchNimberBlock {
    padding: 10px 0px 0px 0px;
    height: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
.accountRegistrationBlock {
  width: 380px;
  height: 646px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px 30px 30px 30px;
}
.accountRegistrationBlock__title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #1F2041;
}
.accountRegistrationBlock__name {
  margin-top: 20px;
}
.accountRegistrationBlock__surname {
  margin-top: 10px;
}
.accountRegistrationBlock__sex {
  margin-top: 10px;
}
.accountRegistrationBlock__dateOfBirth {
  margin-top: 20px;
}
.accountRegistrationBlock__password {
  margin-top: 5px;
}
.accountRegistrationBlock__specialOffers {
  margin-top: 10px;
}
.accountRegistrationBlock__ComeIn {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 20px;
}
.accountRegistrationBlock__ComeIn span {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
}

.CardNumberBlock {
  width: 380px;
  height: 511px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px 30px 30px 30px;
}
.CardNumberBlock__title {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.CardNumberBlock__title span:nth-child(1) {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #1F2041;
  margin-right: 5px;
}
.CardNumberBlock__title span:nth-child(2) {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 17px;
  color: #1F2041;
  margin-right: 5px;
}
.CardNumberBlock__title span:nth-child(3) {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #BC9CFF;
}
.CardNumberBlock__title span:nth-child(4) {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.5);
  margin-left: auto;
  margin-right: 5px;
}
.CardNumberBlock__title span:nth-child(5) {
  font-family: Montserrat;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.5);
}
.CardNumberBlock__dateForm {
  margin-top: 20px;
}
.CardNumberBlock__infoPrice {
  margin-top: 20px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
  display: flex;
  justify-content: space-between;
}
.CardNumberBlock__infoPrice div:nth-child(1) {
  width: 214px;
}
.CardNumberBlock__infoServices {
  margin-top: 10px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
  display: flex;
  justify-content: space-between;
  position: relative;
}
.CardNumberBlock__infoServices div:nth-child(1) {
  width: 214px;
}
.CardNumberBlock__infoServices div:nth-child(1):after {
  content: "i";
  position: absolute;
  top: 3px;
  left: 220px;
  text-align: center;
  width: 20px;
  height: 20px;
  display: inline-block;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 100%;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 19px;
  color: rgba(31, 32, 65, 0.25);
}
.CardNumberBlock__infoPriceAdditional {
  margin-top: 10px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
  display: flex;
  justify-content: space-between;
  position: relative;
}
.CardNumberBlock__infoPriceAdditional div:nth-child(1) {
  width: 214px;
}
.CardNumberBlock__infoPriceAdditional div:nth-child(1):after {
  content: "i";
  position: absolute;
  top: 3px;
  left: 220px;
  text-align: center;
  width: 20px;
  height: 20px;
  display: inline-block;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 100%;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 19px;
  color: rgba(31, 32, 65, 0.25);
}
.CardNumberBlock__total {
  margin-top: 30px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  color: #1F2041;
  display: flex;
  justify-content: space-between;
}
.comeinForm {
  width: 380px;
  height: 358px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px 30px 30px 30px;
}
.comeinForm__title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #1F2041;
}
.comeinForm__Email {
  margin-top: 20px;
}
.comeinForm__Password {
  margin-top: 10px;
}
.comeinForm__CreateAccount {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.comeinForm__CreateAccount span {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #000000;
}

.CardNumberBlocK {
  width: 270px;
  height: 257px;
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  border-radius: 4px;
  overflow: hidden;
}
.CardNumberBlocK__img {
  position: relative;
}
.CardNumberBlocK__tab {
  position: absolute;
  bottom: 10px;
  right: 15px;
}
.CardNumberBlocK__tab span {
  display: inline-block;
  width: 7.5px;
  height: 7.49px;
  border: 1px solid #FFFFFF;
  border-radius: 100%;
  box-sizing: border-box;
  filter: drop-shadow(0px 5px 5px rgba(31, 32, 65, 0.3));
}
.CardNumberBlocK__info {
  margin-top: 20px;
  padding: 0px 17px 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.CardNumberBlocK__info span:nth-child(1) {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #1F2041;
  margin-right: 5px;
}
.CardNumberBlocK__info span:nth-child(2) {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 17px;
  color: #1F2041;
  margin-right: 5px;
}
.CardNumberBlocK__info span:nth-child(3) {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #BC9CFF;
}
.CardNumberBlocK__info span:nth-child(4) {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.5);
  margin-left: auto;
  margin-right: 5px;
}
.CardNumberBlocK__info span:nth-child(5) {
  font-family: Montserrat;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.5);
}
.CardNumberBlocK__Comment {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 8px;
  margin: 0px 17px 0px 20px;
  border-top: 1px solid rgba(31, 32, 65, 0.1);
}
.CardNumberBlocK__Comment div:nth-child(1) {
  position: relative;
  left: -7px;
}
.CardNumberBlocK__Reviews {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  text-align: right;
  color: rgba(31, 32, 65, 0.5);
  padding-bottom: 10px;
}
.CardNumberBlocK__Reviews span {
  font-weight: bold;
}

.tab-active {
  background: #FFFFFF;
}

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

.header {
  height: 70px;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
}
.header__flexbox {
  display: flex;
  justify-content: space-between;
}
.header__menu {
  margin: auto 0;
  position: relative;
}
.header__menubox {
  display: flex;
}
.header__burger {
  display: none;
}
.header__burger span {
  font-size: 50px;
}

.wrapper {
  padding: 15px 140px;
}

.menu__batton {
  margin-right: 20px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: rgba(31, 32, 65, 0.5);
}

.batton__register {
  padding: 12px 20px;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border-radius: 22px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.batton__comein {
  padding: 10px 20px;
  border: 2px #BC9CFF solid;
  border-radius: 22px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #BC9CFF;
}

@media (max-width: 1150px) {
  .header__menubox {
    display: block;
    position: absolute;
    top: -1000px;
    left: -190px;
    z-index: 3;
    background-color: #FFFFFF;
    height: 410px;
    padding: 0px 20px;
    border-radius: 0 0 10% 10%;
    text-align: center;
    transition: all 0.5s ease 0s;
  }

  .header__menubox.active {
    top: 55px;
  }

  .header__menuItem {
    padding: 20px 0px;
    border-top: black solid 1px;
  }

  .header__burger {
    display: block;
  }

  .header {
    position: relative;
    z-index: 5;
  }

  .wrapper__header {
    padding: 10px 0px 0px 0px;
  }
}
.footer {
  padding-top: 100px;
  border-top: 1px solid rgba(31, 32, 65, 0.25);
}
.footer__flexbox {
  display: flex;
  justify-content: space-between;
}
.footer__logo {
  flex: 0 0 260px;
}
.footer__logoicon {
  margin-bottom: 20px;
}
.footer__logoText {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
}
.footer__navigation {
  flex: 0 0 143px;
}
.footer__navigationTitle {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1F2041;
  margin-bottom: 21px;
}
.footer__about {
  flex: 0 0 109px;
}
.footer__aboutTitle {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1F2041;
  margin-bottom: 21px;
}
.footer__support {
  flex: 0 0 149px;
}
.footer__supportTitle {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1F2041;
  margin-bottom: 21px;
}
.footer__subscription {
  flex: 0 0 260px;
}
.footer__subscriptionTitle {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1F2041;
  margin-bottom: 21px;
}
.footer__subscriptionPoints {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
  margin-bottom: 20px;
}
.footer__subscriptionEmail {
  border: 2px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
}
.footer__subscriptionEmail form {
  display: flex;
  justify-content: space-between;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.25);
  padding: 0px 10px;
}

.PointsClass {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 20px;
}
.PointsClass a {
  color: rgba(31, 32, 65, 0.5);
}

.button__arrow {
  margin-top: 5px;
}

.footer__rights {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: rgba(31, 32, 65, 0.75);
}
.footer__icon a {
  margin-left: 20px;
  font-size: 24px;
  font-family: Font Awesome 5 Brands;
  color: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}

.social__icon {
  background: -webkit-gradient(linear, left top, left bottom, from(#8BA4F9), to(#BC9CFF));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: initial;
}

.footer__endblock {
  border-top: 1px #E5E5E5 solid;
  margin-top: 100px;
}

@media (max-width: 1300px) {
  .footer__navigation {
    display: none;
  }

  .footer__about {
    display: none;
  }

  .footer__support {
    display: none;
  }

  .footer__subscription {
    display: none;
  }

  .footer__logoText {
    display: none;
  }

  .footer__flexbox {
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .footer__logo {
    flex: 0 0 10px;
    height: 30px;
  }

  .footer__endblock {
    margin: 0;
  }

  .footer__icon {
    margin-top: 20px;
  }

  .footer__endblock {
    margin-bottom: 100px;
    text-align: center;
  }
}
.detailsRoom__flexBox {
  display: flex;
  height: 485px;
}
.detailsRoom__item1 {
  background-image: url(../img/Otel_1/otel_1__1.png);
  flex: 1 1 68%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.detailsRoom__item2 {
  flex: 1 1 32%;
}
.detailsRoom__imgUp {
  background-image: url(../img/Otel_1/otel_1__2.png);
  height: 243px;
  background-repeat: no-repeat;
  background-size: cover;
}
.detailsRoom__imgDown {
  background-image: url(../img/Otel_1/otel_1__3.png);
  height: 242px;
  background-repeat: no-repeat;
  background-size: cover;
}
.detailsRoom__bodyInfo {
  margin-top: 70px;
}

.InfoNumber1__flexBox {
  display: flex;
  justify-content: space-between;
}
.InfoNumber1__shortInfo {
  display: flex;
}
.InfoNumber1__intelligence {
  flex: 0 0 50%;
}
.InfoNumber1__header {
  font-family: "Open sans";
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  color: #1F2041;
  margin-bottom: 21px;
}
.InfoNumber1__impression {
  flex: 0 1 311px;
}
.InfoNumber1__ImpFlexBox {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.InfoNumber1__rules {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}
.ImpPieChart {
  width: 120px;
  height: 121px;
  display: flex;
  border-radius: 100%;
  overflow: hidden;
  position: relative;
}
.ImpPieChart_up {
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  height: 50%;
  margin: 0px 0px 2px 2px;
}
.ImpPieChart__left {
  flex: 0 0 50%;
  background: linear-gradient(180deg, #FFE39C 0%, #FFBA9C 100%);
}
.ImpPieChart__right {
  flex: 0 0 50%;
}
.ImpPieChart__down {
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  height: 50%;
  margin: 2px 0px 0px 2px;
}
.ImpPieChart__center {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 92%;
  height: 92%;
  border-radius: 100%;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.ImpPieChart__center span:first-child {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: #BC9CFF;
}
.ImpPieChart__center span {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 10px;
  text-align: center;
  text-transform: uppercase;
  color: #BC9CFF;
}

.legendItem1 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
}
.legendItem1:before {
  content: "";
  display: inline-block;
  margin-right: 5px;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: linear-gradient(180deg, #FFE39C 0%, #FFBA9C 100%);
}

.legendItem2 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
}
.legendItem2:before {
  content: "";
  display: inline-block;
  margin-right: 5px;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
}

.legendItem3 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
}
.legendItem3:before {
  content: "";
  display: inline-block;
  margin-right: 5px;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}

.legendItem4 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
}
.legendItem4:before {
  content: "";
  display: inline-block;
  margin-right: 5px;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: linear-gradient(180deg, #919191 0%, #3D4975 100%);
}

.revies {
  margin-top: 30px;
  margin-right: 69px;
}
.revies__header {
  display: flex;
  justify-content: space-between;
}
.revies__header span:first-child {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  color: #1F2041;
}
.revies__header span {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  text-align: right;
  color: rgba(31, 32, 65, 0.5);
}
.revies__feedback1 {
  margin-top: 23px;
}
.revies__feedback2 {
  margin-top: 23px;
}

.Canceling__text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
  max-width: 341px;
}

.rulesInf {
  margin-top: 0px;
}

@media (max-width: 1200px) {
  .wrapper_details {
    padding: 0px 20px;
  }
}
@media (max-width: 992px) {
  .InfoNumber1__flexBox {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 767px) {
  .InfoNumber1__shortInfo {
    display: block;
  }

  .InfoNumber1__rules {
    display: block;
  }

  .revies {
    margin-right: 0;
  }

  .CardNumberBlock {
    padding: 0px 0px;
    width: auto;
  }

  .detailsRoom__item2 {
    display: none;
  }

  .revies__header {
    display: block;
  }
  .revies__header span {
    display: block;
    text-align: left;
  }

  .InfoNumber1__FullInfoBox {
    padding: 0px 0px 0px 20px;
    margin-left: -21px;
  }

  .CardNumberBlock {
    padding: 0px 10px;
  }
}
.registrationPage {
  background: url(../img/registration_back.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
}

.searchroomP__flexbox {
  display: flex;
  justify-content: space-between;
}
.searchroomP__sidebar {
  flex: 0 0 25%;
}
.searchroomP__handpickedNumbers {
  flex: 0 1 70%;
  margin-left: 20px;
}

.sidebarSR {
  margin-top: 5px;
}
.sidebarSR__guest {
  margin-top: 20px;
}
.sidebarSR__priserange {
  margin-top: 30px;
}
.sidebarSR__PRComment {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: rgba(31, 32, 65, 0.5);
}
.sidebarSR__facilities {
  margin-top: 30px;
}
.handpickedNumbers__title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #1F2041;
  margin-bottom: 21px;
}
.handpickedNumbers__flexbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.handpickedNumbers__item {
  margin-bottom: 20.5px;
}
.handpickedNumbers__pagelist {
  display: flex;
  justify-content: center;
}

@media (max-width: 1110px) {
  .wrapper_search-room {
    padding: 0px 60px;
  }
}
@media (max-width: 992px) {
  .wrapper_search-room {
    padding: 0px 10px;
  }
}
@media (max-width: 850px) {
  .handpickedNumbers__flexbox {
    justify-content: left;
  }

  .wrapper_search-room {
    padding: 0px 90px;
  }
}
@media (max-width: 767px) {
  .wrapper_search-room {
    padding: 0px 10%;
  }

  .searchroomP__flexbox {
    display: block;
    justify-content: center;
    align-items: center;
  }

  .searchroomP__handpickedNumbers {
    margin-left: 0;
  }
}
@media (max-width: 1200px) {
  .wrapper_registr {
    padding: 20px 20px;
  }
}
@media (max-width: 767px) {
  .wrapper_registr {
    padding: 20px 17px;
  }

  .comeinForm {
    padding: 0px;
    width: auto;
    border: none;
    box-shadow: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .registrationPage {
    background: none;
  }

  .standForm__Form input {
    width: auto;
  }

  .accountRegistrationBlock {
    padding: 0px;
    width: auto;
    border: none;
    box-shadow: none;
  }
}
.date-picker {
  visibility: hidden;
  position: absolute;
  z-index: 100;
  background-color: #fff;
  top: 64px;
  left: 0;
}
.calendar {
  border: 1px solid #bbb;
  border-radius: 5px;
  width: 320px;
}
.calendar-header {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 30px;
}
.calendar-header-content {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  text-align: center;
  color: #1F2041;
}
.calendar-header-back {
  margin-left: 20px;
}
.calendar-header-fwd {
  margin-right: 20px;
}
.calendar-content {
  margin: 10px;
}
.calendar-content-header {
  display: flex;
  justify-content: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  align-items: center;
  text-align: center;
  color: #BC9CFF;
}
.calendar-content-header-days-of-week {
  min-width: 40px;
  text-align: center;
}
.calendar-content-dates {
  margin-top: 10px;
}
.calendar-content-week {
  display: flex;
  justify-content: center;
}
.calendar-content-day {
  cursor: pointer;
  min-height: 40px;
  min-width: 40px;
  text-align: center;
  display: inline;
  line-height: 40px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  align-items: center;
  color: rgba(31, 32, 65, 0.5);
}
.calendar-content-day__current {
  color: white;
  background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
  border-radius: 50%;
}
.calendar-content-day__another {
  color: rgba(31, 32, 65, 0.25);
}
.calendar-content-day__selected {
  color: #fff;
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  border-radius: 50%;
}
.calendar-content-day__between {
  position: relative;
}
.calendar-content-day__between:before {
  z-index: -1;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: transparent;
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  opacity: 0.25;
}
.calendar-content-day__start {
  position: relative;
}
.calendar-content-day__start:before {
  z-index: -1;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background: transparent;
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  opacity: 0.25;
  width: 50%;
}
.calendar-content-day__end {
  position: relative;
}
.calendar-content-day__end:before {
  z-index: -1;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background: transparent;
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  opacity: 0.25;
  width: 50%;
}

.calendar-header-back {
  background-color: #fff;
}

.calendar-header-fwd {
  background-color: #fff;
}

.calendar-content-footer {
  display: flex;
  justify-content: space-between;
}

.calendar-content-footer-clear {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: rgba(31, 32, 65, 0.5);
  background-color: #fff;
  margin: 20px 0px 10px 10px;
}

.calendar-content-footer-apply {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #BC9CFF;
  margin: 20px 10px 10px 0px;
  background-color: #fff;
}

.startPage {
  height: 100%;
  background-image: url(../img/background.png);
  padding-top: 70px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
}
.startPage__comment {
  position: absolute;
  bottom: 18px;
  right: 120px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: right;
  color: rgba(31, 32, 65, 0.75);
}

.searchroom__title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #1F2041;
  margin-bottom: 20px;
}
.searchroom__guest {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1F2041;
  position: relative;
  margin-bottom: 31px;
}
.searchroom__guest i {
  color: rgba(31, 32, 65, 0.5);
}

.serchroom__dateflexbox {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20.56px;
  position: relative;
}
.serchroom__dateflexitem {
  position: relative;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1F2041;
}
.serchroom__dateflexitem i {
  position: absolute;
  top: 35px;
  right: 10px;
  color: rgba(31, 32, 65, 0.5);
}

.date-pickerinp {
  background: #FFFFFF;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.75);
  width: 150px;
  height: 44px;
  margin-top: 5.44px;
  padding-left: 15px;
}

@media (max-width: 1150px) {
  .wrapper_index {
    padding: 0px 20px;
  }
}
@media (max-width: 992px) {
  .wrapper_index {
    padding: 15px 50px;
  }
}
@media (max-width: 767px) {
  .wrapper_index {
    padding: 0px 17px;
  }

  .startPage {
    background-size: cover;
  }

  .startPage__comment {
    display: none;
  }

  .standForm {
    width: 300px;
  }

  .PopapForm__popapBox {
    width: 300px;
  }

  .standForm__Popap i {
    left: 280px;
  }

  .Checkout {
    width: 300px;
  }

  .wrapper_index {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 373px) {
  .startPage {
    background: none;
  }

  .SearchNimberBlock {
    box-shadow: none;
    border: none;
  }
}