.header {
	height: 70px;
	width: 100%;
	background: #FFFFFF;
	box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
	&__flexbox {
		display: flex;
		justify-content: space-between;
	}
	&__logo {}
	&__menu {
		margin: auto 0;
		position: relative;
	}
	&__menubox {
		display: flex;
	}
	&__menuItem {
	}
	&__burger{
		display: none;
		span{
		font-size: 50px;
		}
	}
}
.wrapper {
	padding: 15px 140px;
}
.menu {
	&__batton {
		margin-right: 20px;
		font-family: Montserrat;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 17px;
		color: rgba(31, 32, 65, 0.5);
	}
}
.batton {
	&__register {
		padding: 12px 20px;
		background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
		border-radius: 22px;
		font-family: Montserrat;
		font-style: normal;
		font-weight: bold;
		font-size: 12px;
		line-height: 15px;
		text-transform: uppercase;
		color: #FFFFFF;
	}
	&__comein {
		padding: 10px 20px;
		border: 2px #BC9CFF solid;
		border-radius: 22px;
		font-family: Montserrat;
		font-style: normal;
		font-weight: bold;
		font-size: 12px;
		line-height: 15px;
		text-transform: uppercase;
		color: #BC9CFF;
	}
}

@media (max-width: 1150px) {
	.header__menubox{
		display:block;
		position: absolute;
		top:-1000px;
		left: -190px;
		z-index: 3;
		background-color: #FFFFFF;
		height: 410px;
		padding: 0px 20px;
		border-radius: 0 0 10% 10%;
		text-align: center;
		transition: all 0.5s ease 0s;
	}
	.header__menubox.active{
		top:55px;
	}
	.header__menuItem{
		padding: 20px 0px;
		border-top: black solid 1px;
	}
	.header__burger{
		display: block;
	}
	.header{
		position: relative;
		z-index: 5;
	}
	.wrapper__header{
		padding: 10px 0px 0px 0px;
	}
}
// @media (max-width: 992px) {
// 	.wrapper__header{
// 		padding: 10px 50px 0px 50px;
// 	}
// }
// @media (max-width: 767px) {
// 	.header__menubox{
// 		left: -550%;
// 		width: 325px;
// 	}
// 	.wrapper__header{
// 		padding: 10px 0px 0px 10px;
// 	}
// }