.button__apply {
  background-color: #fff;
  flex:1;
  cursor: pointer;
  border-radius: 4px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #BC9CFF;

}

.button__apply:hover {
  color: #4a4a4a;
  background: #f0f0f0;
}

.guest{
  i{
    color: rgba(31, 32, 65, 0.5);
  }
}