body{
	//padding: 140px 141px;
}



.standForm {
	//margin-top: 20px;
	width: 320px;
	min-height: 67px;
	&__heading {
		width: inherit;
		font-family: Montserrat;
		font-style: normal;
		font-weight: bold;
		font-size: 12px;
		line-height: 15px;
		text-transform: uppercase;
		color: #1F2041;
		display: flex;
		justify-content: space-between;
		margin-bottom: 5px;
		span:last-child{
			color: rgba(31, 32, 65, 0.5);
			font-weight: normal;
		}
	}
	&__Form {
		input, div{
			background: #FFFFFF;
			border: 1px solid rgba(31, 32, 65, 0.25);
			box-sizing: border-box;
			border-radius: 4px;
			width: 320px;
			height: 44px;
			font-family: Montserrat;
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 18px;
			color: rgba(31, 32, 65, 0.25);
			padding: 13px 15px;
			&::-webkit-input-placeholder { color: rgba(31, 32, 65, 0.25); }
			&:-moz-placeholder           { color: rgba(31, 32, 65, 0.25); }
			&::-moz-placeholder          { color: rgba(31, 32, 65, 0.25); }
			&:-ms-input-placeholder      { color: rgba(31, 32, 65, 0.25); }
			&:focus,
			&:hover {
				border: 1px solid rgba(31, 32, 65, 0.5);
				line-height: 24px;
				color: rgba(31, 32, 65, 0.75);
				&::-webkit-input-placeholder { color: rgba(31, 32, 65, 0.75); }
				&:-moz-placeholder           { color: rgba(31, 32, 65, 0.75); }
				&::-moz-placeholder          { color: rgba(31, 32, 65, 0.75); }
				&:-ms-input-placeholder      { color: rgba(31, 32, 65, 0.75); }
			}
		}
	}
}


.FormNumberGuest{
	width: 100px;
	height: 100px;
	//background-color: red;
}

.popap_list{
	display: none;
}

.standForm {
	&__Popap {
		position: relative;
		i{
			position: absolute;
			top:15px;
			left:290px;
			color: rgba(31, 32, 65, 0.25);}
	}
	&__Popap_min{
		position: relative;
		i{
			position: absolute;
			background: #ffffff;
			padding: 10px;
			top:5px;
			left:231px;
			color: rgba(31, 32, 65, 0.25);}
	}
	&__Form{
		position: relative;
		i{
			position: absolute;
			z-index: 10;
			top:15px;
			left:290px;
			color: rgba(31, 32, 65, 0.25);}
	}
}
.PopapForm {
	&_mathSign {
		width: 30px;
		height: 30px;
		border: 1px solid rgba(31, 32, 65, 0.25);
		box-sizing: border-box;
		border-radius: 22px;
		background-color: #ffff;
		//margin-left: 32px;
		//&:last-child{
		//	margin-left: 32px;
		//}
	}
	&_quantity {
		margin: 16px;
		font-family: Montserrat;
		font-style: normal;
		font-weight: bold;
		font-size: 12px;
		line-height: 15px;
		text-align: center;
		color: #1F2041;
		position: absolute;
		top:-9px;
		left: 30px;


	}
	&__inputForm {
		background: #FFFFFF;
			border: 1px solid rgba(31, 32, 65, 0.2);
			box-sizing: border-box;
			border-radius: 4px;
			width: inherit;
			height: 44px;
			font-family: Montserrat;
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 18px;
			color: rgba(31, 32, 65, 0.75);
			padding: 13px 15px;
			white-space: nowrap;
			overflow: hidden;
			i{
				position: relative;
				z-index: 3;
				padding: 5px;
			}
	}
	&__popapGuest {
		height: 30px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 7px;
		position: relative;
		div{
			position: relative;
		}
		button:last-child{
			margin-left: 32px;
		}
	}
	&__name {
		font-family: Montserrat;
		font-style: normal;
		font-weight: bold;
		font-size: 12px;
		text-transform: uppercase;
		color: #1F2041;
		width: 133px;
		word-spacing: nowrap;
	}
	&__popapBox {
		position: absolute;
		top: 42px;
		left: 0;
		background-color: white;
		width: 320px;
		height: 159px;
		background: #FFFFFF;
		border: 1px solid rgba(31, 32, 65, 0.5);
		box-sizing: border-box;
		box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
		border-radius: 0px 0px 4px 4px;
		padding: 7px 7px 7px 14px;
		display: none;
		z-index: 1000;
	}
	&__popapBox_min {
		position: absolute;
		top: 42px;
		left: 0;
		background-color: white;
		width: 266px;
		height: 159px;
		background: #FFFFFF;
		border: 1px solid rgba(31, 32, 65, 0.5);
		box-sizing: border-box;
		box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
		border-radius: 0px 0px 4px 4px;
		padding: 7px 7px 7px 14px;
		display: none;
		z-index: 1000;
	}
	&__footer{
		display: flex;
		justify-content: space-between;
	}
	&__batton{
		display: inline-block;
		font-family: Montserrat;
		font-style: normal;
		font-weight: bold;
		font-size: 12px;
		line-height: 15px;
		text-transform: uppercase;
		color: #BC9CFF;
		background-color: rgba(0, 0, 0, 0.0);
		margin-top: 10px;
		&:hover{
			text-shadow: 0px 4px 7px rgba(0, 0, 0, 0.5);
		}
	}
	&__batton_clear{
		visibility: hidden;
	}

}


.standForm_min {
	width: 266px;
	height: 67px;
	&__Popap {
		position: relative;
		i{
			position: absolute;
			top:15px;
			left:290px;
			color: rgba(31, 32, 65, 0.25);}
	}
	&__heading {
		width: inherit;
		font-family: Montserrat;
		font-style: normal;
		font-weight: bold;
		font-size: 12px;
		line-height: 15px;
		text-transform: uppercase;
		color: #1F2041;
		display: flex;
		justify-content: space-between;
		margin-bottom: 5px;
		span:last-child{
			color: rgba(31, 32, 65, 0.5);
			font-weight: normal;
		}
	}
	&__Form {
		position: relative;
		i{
			position: absolute;
			top:15px;
			left:234px;
			color: rgba(31, 32, 65, 0.25);}
		a{
			position: absolute;
			top:6px;
			left:230px;
			font-size: 24px;
			font-family: Font Awesome 5 Brands;
			span{
			color: hsl(259, 100%, 77%);}
		}
		input, div{
			background: #FFFFFF;
			border: 1px solid rgba(31, 32, 65, 0.25);
			box-sizing: border-box;
			border-radius: 4px;
			width: 266px;
			height: 44px;
			font-family: Montserrat;
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 18px;
			color: rgba(31, 32, 65, 0.25);
			padding: 13px 15px;
			&::-webkit-input-placeholder { color: rgba(31, 32, 65, 0.25); }
			&:-moz-placeholder           { color: rgba(31, 32, 65, 0.25); }
			&::-moz-placeholder          { color: rgba(31, 32, 65, 0.25); }
			&:-ms-input-placeholder      { color: rgba(31, 32, 65, 0.25); }
			&:focus,
			&:hover {
				border: 1px solid rgba(31, 32, 65, 0.5);
				line-height: 24px;
				color: rgba(31, 32, 65, 0.75);
				&::-webkit-input-placeholder { color: rgba(31, 32, 65, 0.75); }
				&:-moz-placeholder           { color: rgba(31, 32, 65, 0.75); }
				&::-moz-placeholder          { color: rgba(31, 32, 65, 0.75); }
				&:-ms-input-placeholder      { color: rgba(31, 32, 65, 0.75); }
			}
		}
	}
}

.manyRooms__fullvar{
	display: none;
}
.manyRooms__popapBox{
}

.manyRooms__fullvar1,
.manyRooms__fullvar2,
.manyRooms__fullvar3{
	margin-right: 5px;
}


.CheckBoxform {
	margin-top: 20px;
	&__Name {
		position: relative;
		z-index: 5;
		font-family: Montserrat;
		font-style: normal;
		font-weight: bold;
		font-size: 12px;
		line-height: 15px;
		text-transform: uppercase;
		color: #1F2041;
		width: 266px;
		height: 44px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		span{
			margin-right: 15px;
		}
	}
	&__ChekList {
		z-index: 1;
		transform: translateY(-20%);
		opacity: 0;
		transform-origin: top;
		transition: 0.5s;
		position: absolute;
	}
	&__ChekItem {
		font-family: Montserrat;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 18px;
		color: rgba(31, 32, 65, 0.5);
		margin-bottom: 8px;
	}
}

input[type='checkbox'] {
	display: none;
}
input[type='radio'] {
	display: none;
}

label{
	padding-left: 20px;
	display: flex;

}
.CheckBoxform__ChekItem label:before{
	content: '';
	display: inline-block;
	background: #FFFFFF;
	border: 1px solid rgba(31, 32, 65, 0.25);
	box-sizing: border-box;
	border-radius: 4px;
	width: 20px;
	height: 20px;
	vertical-align: center;
	margin-left: -20px;
	margin-right: 10px;
}
.radio:before{
	content: '';
	display: inline-block;
	background: #FFFFFF;
	border: 1px solid rgba(31, 32, 65, 0.25);
	box-sizing: border-box;
	border-radius: 10px;
	width: 20px;
	height: 20px;
	vertical-align: center;
	margin-left: -20px;
	margin-right: 10px;
}
.checkboxSwitch_label:before{
	content: '';
	position: absolute;
	z-index: 1;
	transition: all 0.4s ease;
	top:4px;
	left:24px;
	display: inline-block;
	width: 12px;
	height: 12px;
	background: rgba(31, 32, 65, 0.25);
	border: none;
	border-radius: 10px;
	vertical-align: center;
	margin-left: -20px;
	margin-right: 10px;
}
.checkboxSwitch_label:after{
	content: '';
	position: absolute;
	top:0px;
	left:0px;
	width: 40px;
	height: 20px;
	background: #FFFFFF;
	border: 1px solid rgba(31, 32, 65, 0.25);
	box-sizing: border-box;
	border-radius: 10px;
}
.checkboxSwitch{
	margin-top: 16px;
}
.checkboxSwitch_label{
	position: relative;
	width: 260px;
	transition: all 0.4s ease;
	span{
		padding-left: 30px;
		font-family: Montserrat;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 20px;
		color: rgba(31, 32, 65, 0.75);
	}
}
.radio{
	display: flex;
	align-items: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(31, 32, 65, 0.5);
}
input[type='checkbox']:checked + label:before{
	content: '';
	background-image: url(../img/vector.svg);
	background-repeat: no-repeat;
	background-position: 0px 1.5px;
	border: 1px solid #BC9CFF;
	background-size: 20px 12px;
}
input[name="sex"]:checked + label:before{
	content: '';
	background-image: url(../img/Rectangle.svg);
	background-repeat: no-repeat;
	background-position: -0.9px 3px;
	border: 1px solid #BC9CFF;
	background-size: 20px 12px;
}
input[name="sex"]:checked + label{
	color: rgba(31, 32, 65, 0.75);
}
input[class='switch']:checked + label:before{
	left: 42px;
	background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
	//background-image: url(../img/vector.svg);
	background-repeat: repeat;
	background-position: center;
	border: none;
	background-size: 100%;
}
input[class='switch']:checked + .checkboxSwitch_label:after{
	border: 1px solid #BC9CFF;
}

.CheckBoxform__Name{
	span{
		transition: 1s;
	}
}

.CheckBoxform__Name_active{
	span{
		transform: rotate(180deg);
	}
}

.CheckBoxform__ChekList_active{
	transform:  translateY(0%);
	opacity: 1;
	position: relative;
}


.IntelligenceForm {
	width: 280px;
	height: 88px;
	display: flex;
	align-items: center;
	padding: 20px 0px;
	border-bottom: 1px solid rgba(31, 32, 65, 0.1);
	&__img {
		margin-right: 10px;
		background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
		span{
			font-size: 48px;
			width: 48px;
			height: 51px;
			mix-blend-mode: screen;
			background: white;
		}
	}
	&__text {
		font-family: Montserrat;
		font-style: normal;
		
		font-size: 14px;
		line-height: 24px;
		color: rgba(31, 32, 65, 0.75);
	}
	&__name {
		font-weight: bold;
	}
	&__Comment {}
}

.CheckBoxform__ChekList_open{
	transform:  translateY(0%);
	opacity: 1;
	position: relative;
	width: 222px;
}

.CheckBoxform__title{
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 15px;
	text-transform: uppercase;
	color: #1F2041;
	margin-bottom: 16.5px;
}

.RadioBatt{
	display: flex;
	justify-content: space-between;
	width: 220.74px;
	//height: 55px;
	//margin-top: 16px;
}


.likeForm {
	margin-top: 16px;
}
.likeButton {
	width: 40px;
	height: 20px;
	background: #FFFFFF;
	border: 1px solid rgba(31, 32, 65, 0.25);
	box-sizing: border-box;
	border-radius: 10px;
	position: relative;
	span:first-child{
		content: '';
		position: absolute;
		top:5px;
		left:5px;
		width: 10px;
		height: 10px;
		font-family: Material Icons;
		font-style: normal;
		font-weight: normal;
		font-size: 10px;
		color: rgba(31, 32, 65, 0.25);
	}
	span:last-child{
		content: '';
		position: absolute;
		top:4px;
		left:20px;
		font-family: Montserrat;
		font-style: normal;
		font-weight: normal;
		font-size: 10px;
		line-height: 12px;
		//text-align: center;

		color: rgba(31, 32, 65, 0.25);
	}
}
.likeButton__active {
	width: 40px;
	height: 20px;
	background: #FFFFFF;
	border: 1px solid #B29DFD;
	border-radius: 10px;
	box-sizing: border-box;
	color: #BC9CFF;
	position: relative;
	span:first-child{
		content: '';
		position: absolute;
		top:5px;
		left:5px;
		width: 10px;
		height: 10px;
		font-family: Material Icons;
		font-style: normal;
		font-weight: normal;
		font-size: 10px;
		color: #BC9CFF;
	}
	span:last-child{
		content: '';
		position: absolute;
		top:4px;
		left:20px;
		font-family: Montserrat;
		font-style: normal;
		font-weight: normal;
		font-size: 10px;
		line-height: 12px;
		color: #BC9CFF;
	}
}
.reitForm{
	margin-top: 16px;
}
.star-rating {
  display:flex;
  flex-direction: row-reverse;
  font-size:1.5em;
  justify-content:space-around;
  padding:0 .2em;
  text-align:center;
  width:5em;
}

.star-rating input {
  display:none;
}
.star-rating label{
	padding-left: 0px;
}
.star-rating label:before {
	content: "\2606";
  color: #BC9CFF;
  cursor:pointer;
}

.star-rating :checked ~ label:before {
	content: "\2605";
  color: #BC9CFF;
}

.star-rating label:hover,
.star-rating label:hover ~ label {
  color: #BC9CFF;
}

// RANGE SLIDER
.noUi-target,
.noUi-target * {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.noUi-target {
  position: relative;
}
.noUi-base,
.noUi-connects {
  width: 100%;
  height: 115%;
  position: relative;
  z-index: 1;
}
/* Wrapper for all connect elements.
 */
.noUi-connects {
  /*overflow: hidden;*/
  z-index: 0;
}
.noUi-connect,
.noUi-origin {
  will-change: transform;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  -ms-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  -webkit-transform-style: preserve-3d;
  transform-origin: 0 0;
  transform-style: flat;
}
.noUi-connect {
  height: 110%;
  width: 100%;
  top: -1px;
}
.noUi-origin {
  height: 10%;
  width: 10%;
}
/* Offset direction
 */
.noUi-txt-dir-rtl.noUi-horizontal .noUi-origin {
  left: 0;
  right: auto;
}
/* Give origins 0 height/width so they don't interfere with clicking the
 * connect elements.
 */
.noUi-vertical .noUi-origin {
  width: 0;
}
.noUi-horizontal .noUi-origin {
  height: 0;
}
.noUi-handle {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
}
.noUi-touch-area {
  height: 100%;
  width: 100%;
}
.noUi-state-tap .noUi-connect,
.noUi-state-tap .noUi-origin {
  -webkit-transition: transform 0.3s;
  transition: transform 0.3s;
}
.noUi-state-drag * {
  cursor: inherit !important;
}
/* Slider size and handle placement;
 */
.noUi-horizontal {
  height: 6px;
}
.noUi-horizontal .noUi-handle {
  width: 12px;
  height: 12px;
  right: -12px;
  top: -4px;
}
.noUi-vertical {
  width: 18px;
}
.noUi-vertical .noUi-handle {
  width: 12px;
  height: 12px;
  right: -6px;
  top: -17px;
}
.noUi-txt-dir-rtl.noUi-horizontal .noUi-handle {
  left: -17px;
  right: auto;
}
/* Styling;
 * Giving the connect element a border radius causes issues with using transform: scale
 */
.noUi-target {
  background: #FAFAFA;
  border-radius: 4px;
  border: 1px solid #D3D3D3;
  box-shadow: inset 0 1px 1px #F0F0F0, 0 3px 6px -5px #BBB;
}
.noUi-connects {
  border-radius: 3px;
}
.noUi-connect {
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  z-index: 200;
}
/* Handles and cursors;
 */
.noUi-draggable {
  cursor: ew-resize;
}
.noUi-vertical .noUi-draggable {
  cursor: ns-resize;
}
.noUi-handle {
 /* border: 1px solid #D9D9D9;*/
  border-radius: 100%;
  box-shadow: 0 0 0 2px #fff;
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  cursor: default;
  box-shadow: 0 0 0 2px #fff;
}
.noUi-active {
  /*box-shadow: inset 0 0 1px #FFF, inset 0 1px 7px #DDD, 0 3px 6px -3px #BBB;*/
}

.min-value,
.max-value{
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	//text-align: right;
	text-transform: uppercase;
	color: rgba(31, 32, 65, 0.5);
	width: 45px;
}

.rangeSliderForm{
	margin-top: 23px;
}


.ButtinForm {
	&__button {
		margin-top: 16px;
	}
}
.ClickMeFon {
	width: 99px;
	height: 44px;
	background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
	border-radius: 22px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	text-transform: uppercase;
	color: #FFFFFF;
	transition: 0.5s;
}
.ClickMeFon:hover{
	box-shadow: 0 4px 10px 1px #5F5F5F;
}
.ClickMeFon:active{
	opacity: 0.5;
}
.ClickMe {
	width: 99px;
	height: 44px;
	background: #FFFFFF;
	border-radius: 22px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	text-transform: uppercase;
	color: #BC9CFF;
	border: 2px solid #BC9CFF;
	transition: 0.5s;
}
.ClickMe:hover{
	box-shadow: 0 4px 10px 1px #5F5F5F;
}
.ClickMe:active{
	opacity: 0.5;
}
.ClickMeNon {
	width: 61px;
	height: 15px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	text-transform: uppercase;
	color: #BC9CFF;
	background: #FFFFFf;
	transition: 0.5s;
}
.ClickMeNon:hover{
	text-shadow: 0 3px 5px  #5F5F5F;
}
.ClickMeNon:active{
	color: rgba(31, 32, 65, 0.5);
}
.Checkout {
	width: 320px;
	height: 44px;
	background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
	border-radius: 22px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	text-transform: uppercase;
	color: #FFFFFF;
	transition: 0.5s;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	span{
		margin-top: 0;
		position: absolute;
		top: 10px;
		right: 5px;
	}
}
.Checkout:hover{
	box-shadow: 0 4px 10px 1px #5F5F5F;
}
.Checkout:active{
	opacity: 0.5;
}
.Features{
	font-weight: bold;
	color: rgba(31, 32, 65, 0.75);
}
.CheckBoxform__addition{
	padding-left: 29.5px;
	font-size: 12px;
	line-height: 14px;
	margin-top: 5px;
}
.CheckBoxform__ChekList_rich{
	width: 266px;
}

.standForm {
	&__boxBullet {}
}
.bulletList {
	width: 292px;
	margin-top: 16px;
}
.bulletItem {
	position: relative;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;
	color: rgba(31, 32, 65, 0.75);
	padding-left: 21px; 
	margin-top: 10px;
	&:before{
		position: absolute;
		top: 6px;
		left: 0px;
		content: '';
		width: 10.43px;
		height: 10px;
		background: rgba(31, 32, 65, 0.25);
		border-radius: 100%;

	}
}

.pagination {
	width: 241px;
	margin-top: 16.44px;
	&__item {
		font-family: Montserrat;
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		display: flex;
		align-items: center;
		justify-content: center;
		color: rgba(31, 32, 65, 0.5);
		width: 40px;
		height: 40px;
		background: #FFFFFF;
		&:hover{
				opacity: 0.5;
			}
	}
	&__flexBox {
		display: flex;
		justify-content: space-between;
		
		.pagination__item:first-child{
			background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
			border-radius: 22px;
			color: #FFFFFF;
			font-weight: bold;
			&:hover{
				opacity: 0.5;
			}
		}
		.pagination__item:last-child{
			background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
			border-radius: 22px;
			color: #FFFFFF;
			&:hover{
				opacity: 0.5;
			}
		}
	}

	&__comment {
		font-family: Montserrat;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 24px;
		color: rgba(31, 32, 65, 0.75);
		margin-top: 10px;
	}
}

.CommentForm {
	max-width: 711px;
	&__title {
		display: flex;
		width: 278px;
		height: 51px;
		margin-bottom: 10px;
	}
	&__photo {
		width: 47.67px;
		height: 48px;
		position: relative;
		margin-right: 10px;
		img{
			position: absolute;
			top:-10px;
			left:-20px;
		}
	}
	&__nameinfo {
		font-family: Montserrat;
		font-style: normal;
		font-weight: bold;
		font-size: 14px;
		line-height: 24px;
		color: rgba(31, 32, 65, 0.75);

	}
	&__name {}
	&__ago {
		font-weight: normal;
	}
	&__bottom {
		display: flex;
	}
	&__like {
		width: 40px;
		height: 20px;
		margin-left: 3px;
		margin-right: 13px;
		margin-top: 2px;
	}
	&__text {
		font-family: Montserrat;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 24px;
		color: rgba(31, 32, 65, 0.75);
	}
}

.SearchNimberBlock {
	width: 380px;
	height: 374px;
	background: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	padding: 40px 30px 30px 30px;
	&__title {
		font-family: 'Open Sans';
		font-style: normal;
		font-weight: bold;
		font-size: 24px;
		line-height: 30px;
		color: #1F2041;

	}
	&__date {
		margin-top: 20px;
	}
	&__guests {
		margin-top: 20px;
	}
	&__buttonSearch{
		margin-top: 31px;
	}
}

.accountRegistrationBlock {
	width: 380px;
	height: 646px;
	background: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	padding: 40px 30px 30px 30px;
	&__title {
		font-family: 'Open Sans';
		font-style: normal;
		font-weight: bold;
		font-size: 24px;
		line-height: 30px;
		color: #1F2041;
	}
	&__name {
		margin-top: 20px;
	}
	&__surname {
		margin-top: 10px;
	}
	&__sex {
		margin-top: 10px;
	}
	&__dateOfBirth {
		margin-top: 20px;
	}
	&__Email {}
	&__password {
		margin-top: 5px;
	}
	&__specialOffers {
		margin-top: 10px;
	}
	&__proceedToCheckout {}
	&__ComeIn {
		display: flex;
		justify-content: space-between;
		align-items: baseline;
		margin-top: 20px;
		span{
			font-family: Montserrat;
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 18px;
			display: flex;
			align-items: center;
			text-align: center;
			color: #000000;
		}
	}
}


.CardNumberBlock {
	width: 380px;
	height: 511px;
	background: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	padding: 40px 30px 30px 30px;
	&__title {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		span:nth-child(1){
			font-family: 'Open Sans';
			font-style: normal;
			font-weight: bold;
			font-size: 14px;
			line-height: 17px;
			color: #1F2041;
			margin-right: 5px;
		}
		span:nth-child(2){
			font-family: 'Open Sans';
			font-style: normal;
			font-weight: bold;
			font-size: 19px;
			line-height: 17px;
			color: #1F2041;
			margin-right: 5px;
		}
		span:nth-child(3){
			font-family: Montserrat;
			font-style: normal;
			font-weight: bold;
			font-size: 12px;
			line-height: 15px;
			text-transform: uppercase;
			color: #BC9CFF;
		}
		span:nth-child(4){
			font-family: Montserrat;
			font-style: normal;
			font-weight: bold;
			font-size: 14px;
			line-height: 18px;
			color: rgba(31, 32, 65, 0.5);
			margin-left: auto;
			margin-right: 5px;
		}
		span:nth-child(5){
			font-family: Montserrat;
			font-style: normal;
			font-size: 14px;
			line-height: 18px;
			color: rgba(31, 32, 65, 0.5);
		}
	}
	&__dateForm {
		margin-top: 20px;
	}
	&__guest {}
	&__infoPrice {
		margin-top: 20px;
		font-family: Montserrat;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 24px;
		color: rgba(31, 32, 65, 0.75);
		display: flex;
		justify-content: space-between;
		div:nth-child(1){
			width: 214px;
		}

	}
	&__infoServices {
		margin-top: 10px;
		font-family: Montserrat;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 24px;
		color: rgba(31, 32, 65, 0.75);
		display: flex;
		justify-content: space-between;
		position: relative;
		div:nth-child(1){
			width: 214px;
			&:after{
			content: 'i';
			position: absolute;
			top:3px;
			left:220px;
			text-align: center;
			width: 20px;
			height: 20px;
			display: inline-block;
			border: 1px solid rgba(31, 32, 65, 0.25);
			box-sizing: border-box;
			border-radius: 100%;
			font-family: Montserrat;
			font-style: normal;
			font-weight: bold;
			font-size: 12px;
			line-height: 19px;
			color: rgba(31, 32, 65, 0.25);
			}
		}

	}
	&__infoPriceAdditional {
		margin-top: 10px;
		font-family: Montserrat;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 24px;
		color: rgba(31, 32, 65, 0.75);
		display: flex;
		justify-content: space-between;
		position: relative;
		div:nth-child(1){
			width: 214px;
			&:after{
			content: 'i';
			position: absolute;
			top:3px;
			left:220px;
			text-align: center;
			width: 20px;
			height: 20px;
			display: inline-block;
			border: 1px solid rgba(31, 32, 65, 0.25);
			box-sizing: border-box;
			border-radius: 100%;
			font-family: Montserrat;
			font-style: normal;
			font-weight: bold;
			font-size: 12px;
			line-height: 19px;
			color: rgba(31, 32, 65, 0.25);
			}
		}
	}
	&__total {
		margin-top: 30px;
		font-family: 'Open Sans';
		font-style: normal;
		font-weight: bold;
		font-size: 19px;
		line-height: 24px;
		color: #1F2041;
		display: flex;
		justify-content: space-between;
		}
	&__toBook {}
}


.comeinForm {
	width: 380px;
	height: 358px;
	background: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	padding: 40px 30px 30px 30px;
	&__title {
		font-family: 'Open Sans';
		font-style: normal;
		font-weight: bold;
		font-size: 24px;
		line-height: 30px;
		color: #1F2041;
	}
	&__Email {
		margin-top: 20px;
	}
	&__Password {
		margin-top: 10px;
	}
	&__Buttom {}
	&__CreateAccount {
		span{
			font-family: Montserrat;
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 18px;
			display: flex;
			align-items: center;
			color: #000000;
		}
		margin-top: 20px;
		display: flex;
		justify-content: space-between;
		align-items: baseline;
	}
}

.CardNumberBlocK {
	width: 270px;
	height: 257px;
	background: #FFFFFF;
	box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
	border-radius: 4px;
	overflow: hidden;
	&__img {
		position: relative;
	}
	&__tab {
		position: absolute;
		bottom:10px;
		right:15px;
		span{
			display: inline-block;
			width: 7.5px;
			height: 7.49px;
			border: 1px solid #FFFFFF;
			border-radius: 100%;
			box-sizing: border-box;
			filter: drop-shadow(0px 5px 5px rgba(31, 32, 65, 0.3));
		}
	}
	&__info {
		margin-top: 20px;
		padding: 0px 17px 10px 20px;
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		span:nth-child(1){
			font-family: 'Open Sans';
			font-style: normal;
			font-weight: bold;
			font-size: 14px;
			line-height: 17px;
			color: #1F2041;
			margin-right: 5px;
		}
		span:nth-child(2){
			font-family: 'Open Sans';
			font-style: normal;
			font-weight: bold;
			font-size: 19px;
			line-height: 17px;
			color: #1F2041;
			margin-right: 5px;
		}
		span:nth-child(3){
			font-family: Montserrat;
			font-style: normal;
			font-weight: bold;
			font-size: 12px;
			line-height: 15px;
			text-transform: uppercase;
			color: #BC9CFF;
		}
		span:nth-child(4){
			font-family: Montserrat;
			font-style: normal;
			font-weight: bold;
			font-size: 14px;
			line-height: 18px;
			color: rgba(31, 32, 65, 0.5);
			margin-left: auto;
			margin-right: 5px;
		}
		span:nth-child(5){
			font-family: Montserrat;
			font-style: normal;
			font-size: 14px;
			line-height: 18px;
			color: rgba(31, 32, 65, 0.5);
		}
	}
	&__Comment {
		display: flex;
		justify-content: space-between;
		align-items: baseline;
		padding-top: 8px;
		margin: 0px 17px 0px 20px;
		border-top: 1px solid rgba(31, 32, 65, 0.1);
		div:nth-child(1){
			position: relative;
			left: -7px;
		}
	}
	&__Reviews {
		font-family: Montserrat;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		text-align: right;
		color: rgba(31, 32, 65, 0.5);
		padding-bottom: 10px;
		span{
			font-weight: bold;
		}
	}
}
.tab-active {
	background: #FFFFFF;
}


