@import 'scss/nullstyle.scss';
@import 'scss/header.scss';
@import 'scss/footer.scss';
@import 'scss/details_room.scss';
@import 'scss/rigistration.scss';
@import 'scss/search_room.scss';
@import 'scss/sign_in.scss';
@import '../css/datepicker.css';
@import 'scss/UI-kit.scss';

.date-picker {
	visibility: hidden;
	position: absolute;
	z-index: 100;
	background-color: #fff;
  top: 64px;
  left: 0;
  &-start {
  }

  &-end {
  }
}

.calendar {

  border: 1px solid #bbb;
  border-radius: 5px;
  width: 320px;

  &-header {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 30px;
    &-content{
    	font-family: 'Open Sans';
		font-style: normal;
		font-weight: bold;
		font-size: 19px;
		line-height: 24px;
		text-align: center;
		color: #1F2041;
    }
    &-back{
    	margin-left: 20px;
    }
    &-fwd{
    	margin-right: 20px;
    }
  }
  &-content {
    margin: 10px;
    &-header {
      display: flex;
      justify-content: center;
      font-family: Montserrat;
		font-style: normal;
		font-weight: bold;
		font-size: 12px;
		line-height: 15px;
		align-items: center;
		text-align: center;
		color: #BC9CFF;
      &-days-of-week {
        min-width: 40px;
        text-align: center;
      }
    }
    &-dates {
      margin-top: 10px;
    }
    &-week {
      display: flex;
      justify-content: center;
    }
    &-day {
      cursor: pointer;
      min-height: 40px;
      min-width: 40px;
      text-align: center;
      display: inline;
      line-height: 40px;
      font-family: Montserrat;
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		align-items: center;
		color: rgba(31, 32, 65, 0.5);
      &__current {
        color: white;
        background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
        border-radius: 50%;
      }
      &__another {
        color: rgba(31, 32, 65, 0.25);
      }
      &__selected {
        color: #fff;
        background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
        border-radius: 50%;
      }
      &__between {
        position: relative;
        &:before {
          z-index: -1;
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: transparent;
          background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
          opacity: 0.25;
        }
      }
      &__start {
        position: relative;
        &:before{
          z-index: -1;
          content:"";
          position:absolute;
          top: 0;
          right: 0;
          bottom: 0;
          background: transparent;
          background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
          opacity: 0.25;
          width: 50%;
        }
      }
      &__end{
        position: relative;
        &:before{
          z-index: -1;
          content:"";
          position:absolute;
          top: 0;
          left: 0;
          bottom: 0;
          background: transparent;
          background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
          opacity: 0.25;
          width: 50%;
        }
      }
    }
  }
}

.calendar-header-back{
	background-color: #fff;
}

.calendar-header-fwd{
	background-color: #fff;
}

.calendar-content-footer{
	display: flex;
	justify-content: space-between
}

.calendar-content-footer-clear{
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 15px;
	text-transform: uppercase;
	color: rgba(31, 32, 65, 0.5);
	background-color: #fff;
	margin: 20px 0px 10px 10px;
}
.calendar-content-footer-apply{
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 15px;
	text-transform: uppercase;
	color: #BC9CFF;
	margin: 20px 10px 10px 0px;
	background-color: #fff;
}
.startPage {
  height: 100%;
  background-image: url(../img/background.png);
  padding-top: 70px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;

  &__comment {
  position: absolute;
  bottom: 18px;
  right: 120px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: right;
  color: rgba(31, 32, 65, 0.75);
  }
}

.searchroom {
  &__title {
    font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #1F2041;
  margin-bottom: 20px;
  }
  &__guest {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #1F2041;
    position: relative;
    i{
      color: rgba(31, 32, 65, 0.5);
    }
    margin-bottom: 31px;
  }
}
.serchroom {
  &__dateflexbox {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20.56px;
    position: relative;
  }
  &__dateflexitem {
    position: relative;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #1F2041;
    i{
      position: absolute;
      top: 35px;
      right: 10px;
      color: rgba(31, 32, 65, 0.5);

    }
  }
}
.date-pickerinp {
  background: #FFFFFF;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.75);
  width: 150px;
  height: 44px;
  margin-top: 5.44px;
  padding-left: 15px;

}

